.leaflet-info-control {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px
}

.leaflet-info-control .button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../res/info.png);
  opacity: 0.85;
  width: 36px;
  height: 36px
}

.leaflet-touch .leaflet-info-control .button {
  width: 44px;
  height: 44px
}

.leaflet-info-pane {
  position: absolute;
  height: 100%;
  width: 350px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2000
}

.leaflet-info-pane .content {
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 6px;
  border-radius: 2px;
  color: black;
  font-size: 1.1em
}

.leaflet-info-pane .close {
  position: absolute;
  right: 25px;
  top: 15px;
  width: 30px;
  height: 30px;
  color: #333;
  font-size: 25pt;
  line-height: 1em;
  text-align: center;
  background: white;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 8
}

.leaflet-info-pane.left {
  left: -500px;
  transition: left .5s, width .5s
}

.leaflet-info-pane.right {
  right: -500px;
  transition: right .5s, width .5s
}

.leaflet-info-pane.left.visible {
  left: 0
}

.leaflet-info-pane.right.visible {
  right: 0
}

@media(max-width:480px) {
  .leaflet-info-pane {
    width: 100%;
    padding: 0
  }

  .leaflet-info-pane.left {
    left: -100%
  }

  .leaflet-info-pane.right {
    right: -100%
  }

  .leaflet-info-pane.left.visible {
    left: 0
  }

  .leaflet-info-pane.right.visible {
    right: 0
  }

  .leaflet-info-pane .content {
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0
  }
}

@media(min-width:481px) and (max-width:768px) {
  .leaflet-info-pane {
    width: 300px
  }
}

@media(min-width:769px) {
  .leaflet-info-pane {
    width: 350px
  }
}
