<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>Crimemap</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom text-light bg-dark">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Crimemap</span>
        </a>
    </header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-10">
                    <h1>Crimes</h1>
                </div>
                <div class="col-md-2 float-right text-end">
                    <a th:href="@{/edit-crime/}" class="btn btn-primary button-lg" role="button"><i class="bi bi-plus-lg"></i> Add crime</a>
                </div>
            </div>

            <form th:action="@{/}" th:object="${filter}" method="post">
                <div class="row mt-5">
                    <div class="col-md-3">
                        <select class="form-select" th:field="*{district}">
                            <option value="0">Choose district...</option>
                            <option th:each="district : ${districts}" th:value="${district.id}" th:text="${district.name}" name="district"></option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select" th:field="*{offense}">
                            <option value="0">Choose offense...</option>
                            <option th:each="offense : ${offenses}" th:value="${offense.id}" th:text="${offense.name}" name="offense"></option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control" th:field="*{dateStart}">
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control" th:field="*{dateEnd}">
                    </div>

                    <div class="col-md-2">
                        <button type="submit" name="submit" class="btn btn-secondary btn-block"><i class="bi bi-filter"></i> Apply filter</button>
                    </div>
                </div>
            </form>
                
            <table class="table table-striped table-hover table-sm mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">District</th>
                        <th scope="col">Coords</th>
                        <th scope="col">Offense</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="crime : ${crimes}">
                        <th scope="row" th:text="${crime.id}"></th>
                        <td th:text="${crime.dateOfCrime}"></td>
                        <td th:text="${crime.district.name}"></td>
                        <td><a th:href="|https://www.openstreetmap.org/?mlat=${crime.lat}&mlon=${crime.lon}#map=17/${crime.lat}/${crime.lon}|" th:text="|${crime.lat},${crime.lon}|"></a></td>
                        <td th:text="${crime.offense.name}"></td>
                        <td th:text="${crime.description}"></td>
                        <td>
                            <a th:href="@{/edit-crime/{id}(id=${crime.id})}" class="btn btn-outline-primary btn-sm" role="button"><i class="bi bi-pencil"></i> Edit</a>
                            <a th:href="@{/delete-crime/{id}(id=${crime.id})}" class="btn btn-outline-danger btn-sm" role="button"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; Built with <i class="bi bi-suit-heart-fill"></i> by Danny Belz &amp; Jonathan Vijayakumar</span>
        </div>
    </footer>



    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>-->
</body>

</html>