<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>Crimemap</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom text-light bg-dark">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Crimemap</span>
        </a>
    </header>

    <main class="flex-shrink-0">
        <div class="container my-3">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h1 class="mt-5">Edit crime</h1>
                    <form th:action="@{/save-crime}" th:object="${crime}" method="post">
                        <ul th:if="${#fields.hasErrors('*')}">
                            <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
                        </ul>
                        <div class="row g-3">
                            <input type="hidden" th:field="*{id}">
                            <div class="col-md-6">
                                <label>Date</label>
                                <input type="date" class="form-control" th:field="*{dateOfCrime}">
                            </div>
                            <div class="col-md-6">
                                <label>District</label>
                                <select class="form-select" th:field="*{district.id}">
                                    <option value="0">Choose district...</option>
                                    <option th:each="district : ${districts}" th:value="${district.id}" th:text="${district.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Latitude</label>
                                <input type="number" step="any" class="form-control" th:field="*{lat}">
                            </div>
                            <div class="col-md-6">
                                <label>Longitude</label>
                                <input type="number" step="any" class="form-control" th:field="*{lon}">
                            </div>
                            <div class="col-md-6">
                                <label>Offense</label>
                                <select class="form-select" th:field="*{offense.id}">
                                    <option value="0">Choose offense...</option>
                                    <option th:each="offense : ${offenses}" th:value="${offense.id}" th:text="${offense.name}"></option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label>Description</label>
                                <input type="text" class="form-control" th:field="*{description}"></input>
                            </div>
                        </div>
                        <button type="submit" name="submit" class="btn btn-primary btn-block mt-3"><i class="bi bi-save"></i> Save crime</button>
                        <button type="submit" name="cancel" class="btn btn-secondary btn-block mt-3"><i class="bi bi-x-square"></i> Cancel</button>
                    </form>
                </div>
            </div>
            
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; Built with <i class="bi bi-suit-heart-fill"></i> by Danny Belz &amp; Johnny Vijayakumar</span>
        </div>
    </footer>

</body>

</html>